{% extends 'layouts/base.html' %}

{% block title %} List of People {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>List of People</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Full Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Age</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Blood Type</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Gender</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">email</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last Updated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>

                      </td>
                      <td>

                      </td>
                      <td>
                      
                      </td>
                      <td>

                      </td>
                      <td>
                        
                      </td>
                    </tr>
                    <tr>
                      {% for profile in profiles %}
                        {% if loop.index0 < 15 %}
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ profile.firstname }} {{ profile.lastname }}</h6><p class="text-xs text-secondary mb-0">Purok #{{ profile.purokID }}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ profile.age }}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ profile.bloodtype }}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ profile.gender }}</p>
                      </td>
                      <td class="text-left text-xs font-weight-bold mb-0">
                        <span>{{ profile.email }}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                      </td>
                    </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      {% include "includes/footer.html" %}

    </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
