{% extends "base/layout.html" %}
{% block title %} {% endblock %}
{% block content %} 
<div class="card-body px-0 pt-0 pb-2">
    <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Purok</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Collection</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Purok Population</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Updated</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data2 in purok %}
                <tr class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    <td>{{ data2.purokID }}</td>
                    <td>{{ data2.collection }}</td>
                    <td>{{ data2.purokPopulation }}</td>
                    <td>{{ data2.dateissued }}</td>
                    <td>
                        <a href="{{ url_for('view_details', purok=data2.purokID) }}">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}